.exp {
  margin-top: 8rem;
}
.tab-container {
  border-bottom: 1px solid #64ffda;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  color: #8892b0;
  background-color: transparent;
  transition: background-color 0.5s;
}

.tab-btn.active {
  color: #64ffda !important;
  background-color: #64ffda1a;
}

.tab-card {
  background-color: #112240;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 3rem;
}
.tab-content {
  display: none;
  padding: 20px;

  height: 24rem;
}

.tab-content.active {
  display: block;
}
