.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3vh 3vw;
  width: 100%;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-element {
  margin-left: 10px;
}

.logo {
  height: 5vh;
}

@media only screen and (max-width: 800px) {
  .nav-list {
    display: none;
  }
}
