.center {
  display: flex;
  justify-content: center;
}
.margin-top {
  margin-top: 3rem;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a192f;
}

body * {
  font-family: "Roboto Mono", monospace;
}

::selection {
  color: #ccd6f6;
  background-color: #233554;
}

a {
  color: #ccd6f6;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #64ffda;
}

main a {
  color: #64ffda;
  position: relative;
}
main a::after {
  content: " ";
  width: 0;
  height: 1px;
  background-color: #64ffda;
  color: #64ffda;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}
main a:hover:after {
  width: 100%;
  height: 1px;
}

button {
  background-color: transparent;
  border: solid 2px #64ffda;
  border-radius: 5px;
  color: #64ffda;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: #64ffda1a;
}

p {
  color: #8892b0;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: flex;
  font-size: 15pt;
}
.bold {
  font-weight: 700;
}
.font-large {
  font-size: 48pt;
}
.font-medium {
  font-size: 24pt;
}
.font-small {
  font-size: 12pt;
}
.green {
  color: #64ffda;
}
.line {
  background-color: #8892b0;
  height: 1px;
  min-width: 15vw;
  opacity: 0.2;
}
.main-content {
  margin: 0 12vw;
}

.text {
  margin: 5vh 0;
  width: 50%;
}

.title {
  color: #ccd6f6;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .font-large {
    font-size: 24pt;
  }
  .font-medium {
    font-size: 12pt;
  }
  .font-small {
    font-size: 10pt;
  }
  .line {
    display: none;
  }
  .main-content {
    margin: 3vw;
  }
  .text {
    margin: 0;
    width: 100%;
  }
}
