.card-text {
  background: #112240;
  border-radius: 5px;
  padding: 20px 40px;
  width: 25vw;
}
.cards {
  align-items: center;
  display: flex;
  justify-content: center;
}
.eject-img {
  border-radius: 5px;
  width: 30vw;
}
.work {
  margin-top: 40vh;
}
.work-text {
  margin-left: 3vw;
  text-align: right;
  position: relative;
  left: -200px;
}
